.projects-container{
    display: flex;
    justify-content:space-between ;
    flex-wrap: wrap;
}
.projects-container .item{
    width: 32%;
    margin-bottom: 50px;
    background: var(--color-bg-variant);
    padding: 25px;
    border-radius: 25px;
    border: 1px solid transparent;
    transition: var(--transition);
    height: auto;
}
.item-img img {
    width: 100%;
    height: 250px; 
    object-fit: cover;
    border-radius: 15px;
}
.item-img{
    border-radius: 15px;
    overflow: hidden;
   
}
.item-img h3{
margin: 22px 0 35px;
}
.item-btns{
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}
/* responsive */
@media (max-width:1024px){
.projects-container .item{
    width: 48%;
}
}
@media (max-width:600px){
    .projects-container .item{
    width: 100%;
}
}