.skills-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.skills-container .card-skill{
    width: 24%;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--color-bg-variant);
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 20px;
}
.skills-container .card-skill .logo{
width: 65px;
height: 65px;
 padding: 7px;
 border-radius: 10px;
 background: var(--color-bg-variant);
}
.skills-container .card-skill h4{
    font-size: 16px;

}
.skills-container .card-skill p{
    font-size: 14px;
}