.skills-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.skills-container .card-skill{
    width: 26%;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--color-bg-variant);
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 20px;
}
.skills-container .card-skill .logo{
width: 75px;
height: 65px;
 padding: 7px;
 border-radius: 10px;
 background: var(--color-bg-variant);
}
.skills-container .card-skill h4{
    font-size: 16px;

}
.skills-container .card-skill p{
    font-size: 14px;
}

/* responsive */

@media (max-width:1024px){
    .skills-container .card-skill{
        width: 48%;
    }
}
@media (max-width:600px){
     .skills-container .card-skill{
        width: 49%;
    }
    .skills-container .card-skill .logo{
        width: 50px;
        height: 50px;
        padding: 5px;
    }
    .skills-container .card-skill h4{
        font-size: 13px;
    }
    .skills-container .card-skill p{
        font-size: 10px
    }
}