.home{
    height: 100vh;
    padding: 50px;
    overflow: hidden;
}
.home_container{
    text-align: center;
    height: 100%;
    position: relative;
}
.btns{
    display: flex;
    gap:1.2rem ;
    margin-top: 2.5rem;
    justify-content: center;
}
.home_container h4{
    font-size: 1.5rem;
}
.home_container .me{
    width: 320px;
    height: 400px;
    background: linear-gradient(var(--color-primary) , transparent);
    border-radius: 12rem 12rem 0 0;
    margin:40px auto;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    overflow: hidden;
}
.scroll_down{
    position: absolute;
    right: -35px;
    bottom: 30px;
    transform: rotate(90deg);
    font-weight: 100;
}
.home_social{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: 50px;
    gap: 0.8rem;
    align-items: center; 
 }
 .home_social::after{
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}
.home_social a{
    font-size: 25px;
}