.nav{
    background: rgb(0,0,0,0.3);
    width: max-content;
    display: block;
    padding:0.7rem 1.7rem ;
    z-index: 10;
    position: fixed;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    display: flex;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}
.nav a{
    background: transparent;
    padding: 0.8rem;
    border-radius: 50%;
    color: var(--color-light);
    font-size: 1.1rem;
}
.nav a.active{
    background: var(--color-primary);
    color:var(--color-white);
}
.nav a:hover{
background: rgba(0,0,0,0.3);
}