.footer{
    background: var(--color-primary);
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    margin-top: 100px;
}
.footer{
    color: var(--color-bg);
}
.footer-logo{
    font-size: 25px;
    margin-bottom: 30px;
    display:inline-block ;
}
.footer-links{
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    gap: 30px;
    margin: 0 auto 30px;
}
.footer a{
    color: var(--color-bg);
}
.footer a:hover{
    color: var(--color-white);
}
.social{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
}
.social a{
    background: var(--color-bg);
    color: var(--color-white);
    padding: 12px;
    border-radius: 10px;
    display: flex;
    border: 1px solid transparent;
    transition: var(--transition);
}
.social a:hover{
    background: transparent;
    border-color: var(--color-bg);
    color: var(--color-bg);
}
/* responsive */
@media (max-width:600px) {
   .footer-links{
    flex-direction: column;
    gap: 20px;
} 
}
